*{
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
    display: flex;
}

a{
    color: black;
}



body{
    background-color: #ad4434;
}
header{
    height: 300px;
    position: relative;
    overflow: hidden;
    border: solid #d4ff51 1px;
}

footer{
    margin-top: 50px;
}
.main-image{
    position: absolute;
    height: 375px;
    width: 375px;
    left: -80px;
    top: -30px;
    border-radius: 50%;
}

.main-title{
    text-align: center;
    font-family: luckiest Guy;
    font-size: 60px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    color: #d4ff51;
}
.content-title{
    margin-top: 50px;
    text-align: center;
    font-family: luckiest guy;
    color: #d4ff51;
}
.list-group{
    margin-bottom: 50px;
}
.home-tile{
    text-align: center;
    font-family: boogaloo;
    padding: 20px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
}
.home-tile > ol{
    text-align: left;
}
.list-group-item{
    width: 150px;
    text-align: center;
    font-family: boogaloo;
    background-color: white;
}
.social-bar > li{
    font-size: 20px;
    margin-right: 5px;
}

.media{
    margin-top: 50px;
    font-family: boogaloo;
    background-color: white;
    border-radius: 5px;
}

.media > img{
    height: 150px;
    width: 150px;
    border: solid black 1px;
    border-radius: 5px;
}

.login-form{
    font-family: boogaloo;
    text-align:center;
    color: #d4ff51;
}

.signup-form{
    font-family: boogaloo;
    text-align:left;
    color: #d4ff51;
}

.tool-detail-list{
    display: block;
}

.tool-detail-list > li > img{
    height: 200px;
    width: 200px;
    margin: 10px;
}
.tool-detail{
    font-family: boogaloo;
    color: #d4ff51;
}
.tool-form{
    font-family: boogaloo;
    text-align: left;
    color: #d4ff51;
}
.card{
    margin-top: 50px;
    font-family: boogaloo;
}
.btn{
    background-color: #7d51ff;
}